backports.csv==1.0.7
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
cheroot==8.3.0
CherryPy==18.5.0
Cython==0.29.15
feedparser==5.2.1
future==0.18.2
idna==2.9
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.0
jaraco.text==3.2.0
lxml==4.5.0
more-itertools==8.2.0
mysqlclient==1.4.6
nltk==3.4.5
numpy==1.18.2
Pattern==3.6
pdfminer.six==20200124
portend==2.6
protobuf==3.11.3
pycryptodome==3.9.7
pystan==2.19.1.1
python-docx==0.8.10
pytz==2019.3
requests==2.23.0
scipy==1.4.1
six==1.14.0
sortedcontainers==2.1.0
soupsieve==2.0
stanfordnlp==0.2.0
tempora==2.1.0
torch==1.4.0
tqdm==4.43.0
urllib3==1.25.8
zc.lockfile==2.0
